{# app\Resources\views\default\paso3.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
        
    <h1>{{titulo}}</h1>
 
                       
{% endblock %}

{% block stylesheets %}
<style>
   
</style>
{% endblock %}